<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel"><table></table> Favorite product</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="width: 100%;">
      <div class=" text-nowrap" >
        <!-- <p class=" w-100 d-flex justify-content-between align-items-center" *ngFor="let fav of favl ;let i = index"><span class="overflow-hidden me-4">{{fav}}</span><button class="btn btn-danger" (click)="deletfromcart(i)">x</button>
        </p> -->

        <p class=" w-100 d-flex justify-content-between align-items-center" *ngFor="let fav of favl ;let i = index"><span class="overflow-hidden me-4" >{{fav}}</span><button class="btn btn-danger" (click)="deletfromcart(i)" >x</button>
        </p>
      </div>
    </div>
  </div>